<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic-tac-toe</title>
</head>
<body>
    <h1>
        next move:
        <img src="assets/{{['o', 'b', 'x'][next+1]}}.png" alt="">
    </h1>
    <table border = '1px'>
        {% for i in range(9) %}
            {% set r = i // 3 %}
            {% set c = i % 3 %}
            {% set e = board[i] %}
            {% set spclass = ['o', 'b', 'x'][e+1] %}
            {% if c == 0 %}
            <tr>
                {% endif %}
                <td class="{{spclass}}">
                    {% if e == 0 %}
                    <a href="set/{{i}}">
                        {% endif %}
                        <img src="assets/{{spclass}}.png" alt="">
                        {% if e == 0 %}
                    </a>
                    {% endif %}
                </td>
                {% if c == 2 %}
            </tr>
            {% endif %}
        {% endfor %}
    </table>
</body>
</html>